@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
              new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Aqua" },

        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
         new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
         new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard },
         new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
           new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid }

    )
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.Dashboard },
    new Script { ExtensionSuite = ExtensionSuite.TreeList },
     new Script { ExtensionSuite = ExtensionSuite.PivotGrid }

)


<script>
    function onButtonClick(s, e) {
        e.processOnServer = confirm('Seguro que desea borrar el registro?');
    }


    function OnInit(s, e) {
        AdjustSize();
        ASPxClientUtils.AttachEventToElement(window, "resize", function (evt) {
            AdjustSize();
        });
    }
    function OnEndCallback(s, e) {
        AdjustSize();
    }
    function AdjustSize() {
        var height = document.documentElement.clientHeight;
        gvEvent.SetHeight(height - 150);
    }


     function SaveEvent(s, e) {
         // prevent the default event behaviour

         $.ajax({
             url: '@Url.Action("SaveEvent")',
             type: "POST",
             data: $('#eventGrid').serialize(),
             //dataType: "json",
             traditional: true,
              cache: false,
             //contentType: "application/json; charset=utf-8",
             success: function (data) {


                 // perform your save call here

                 if (data.status != "EmptyField") {
                   $('#eG').html(data);
                     swal("Exito!", "Informacion Actualizada!", "success");
                 } //else {
                 //    $('#eG').html(data);
                 //    swal("Exito!", "Informacion Actualizada!", "success");
                 //}
             },
             error: function () {
                 alert("An error has occured!!!");
             }
         });

         @*$.ajax({
             url: '@Url.Action("SaveEvent")',
             //contentType: 'application/json; charset=utf-8',
             type: 'POST',
             //dataType: 'json',
             cache: false,
             data: $('#eventGrid').serialize(),
             success: function (result) {
                 swal({
                     title: "Exito!",
                     text: "La informacion ha sido actualizada",
                     icon: "success",
                     button: "Aceptar",
                 });

                 //swal("Exito!", "Informacion Actualizada!", "success");
                 $('#eG').html(result);

              },
             failure: function (result) {
                 $('#eG').html(error);
                 swal("Error!", "Informacion Actualizada!", "error");
                 console.log(error);
              }
         });*@
    }

</script>
<style type="text/css">

    .upperCase * {
        text-transform: uppercase;
    }
</style>

<div id="eG">
    @using (Html.BeginForm("SaveEvent", "Events", FormMethod.Post, new { id = "eventGrid" }))
    {
        //@Html.Partial("ListPartial")
        @Html.Action("ListPartial", "Events")
    }
</div>





