@using DevExpress.Web.DemoUtils;

@functions{
    object GetEditingEvent(ASPxGridView grid)
    {
        if (grid.IsNewRowEditing)
            return new Entities.Events();
        return grid.GetRow(grid.EditingRowVisibleIndex);
    }
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();


    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "gvEvent";
        settings.KeyFieldName = "EventId";
        settings.CallbackRouteValues = new { Controller = "Events", Action = "ListPartial" };
        //settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Events", Action = "AddEvent" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Events", Action = "EditEvent" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Events", Action = "DeleteEvent" };
        settings.SettingsBehavior.AllowFocusedRow = true;

        settings.Width = Unit.Percentage(100);

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;

        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.ControlStyle.Border.BorderWidth = 1;
        settings.Settings.ShowFooter = true;
        settings.KeyboardSupport = true;

        settings.EnableRowsCache = false;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = true;
        settings.EditFormLayoutProperties.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
        settings.EditFormLayoutProperties.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 600;
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.ClientSideEvents.Init = "OnInit";
        settings.ClientSideEvents.EndCallback = "OnEndCallback";
        settings.SettingsBehavior.ConfirmDelete = true;

        #region Configuracion del popup
       
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        settings.SettingsPopup.EditForm.Modal = false;
        settings.SettingsPopup.EditForm.Width = 700;
        settings.SettingsPopup.EditForm.ShowHeader = true;
        settings.SettingsText.PopupEditFormCaption = "Edición de evento";
        settings.SettingsPopup.EditForm.HorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.SettingsPopup.EditForm.VerticalAlign = PopupVerticalAlign.WindowCenter;
        #endregion


        #region Paging
        settings.SettingsPager.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50", "100" };
        settings.SettingsPager.PageSize = 10;
        #endregion
        #region filtering
        settings.Settings.ShowFilterRow = true;

        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsPopup.HeaderFilter.Height = 200;
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;

        settings.SettingsFilterControl.ViewMode = FilterControlViewMode.VisualAndText;
        settings.Settings.AutoFilterCondition = AutoFilterCondition.Contains;

        #endregion
        #region Sorting
        settings.TotalSummary.Add(DevExpress.Data.SummaryItemType.Count, "EventName");
        #endregion
        #region Personalizacion de Botones del GridView

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ButtonRenderMode = GridCommandButtonRenderMode.Image;



        settings.CommandColumn.ShowNewButton = false;
        settings.CommandColumn.ShowNewButtonInHeader = true;
        settings.SettingsCommandButton.NewButton.Image.Url = Url.Content("~/Content/Icons/Add.png");

        settings.CommandColumn.ShowEditButton = true;
        settings.SettingsCommandButton.EditButton.Image.Url = Url.Content("~/Content/Icons/Edit.png");

        settings.SettingsBehavior.ConfirmDelete = true;
        settings.SettingsText.ConfirmDelete = "Seguro quiere borrar el registro?";
        settings.CommandColumn.ShowDeleteButton = true;
        settings.SettingsCommandButton.DeleteButton.Image.Url = Url.Content("~/Content/Icons/trash.png");



        settings.CommandColumn.Width = Unit.Percentage(30);
        #endregion


        settings.Columns.Add(col =>
        {
            col.FieldName = "EventName";
            col.Caption = "Nombre de Evento";
            col.Width = Unit.Percentage(100);
            col.AdaptivePriority = 1;
            col.EditFormSettings.Visible = DefaultBoolean.False;

        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "EventDate";
            col.Caption = "Fecha Evento";
            col.ColumnType = MVCxGridViewColumnType.DateEdit;
            col.AdaptivePriority = 2;
            col.Width = Unit.Percentage(100);
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "RegistrationClosing";
            col.Caption = "Fecha de Cierre";
            col.ColumnType = MVCxGridViewColumnType.DateEdit;
            col.AdaptivePriority = 3;
            col.Width = Unit.Percentage(100);
        });

        settings.Columns.Add(col =>
        {
            col.FieldName = "StatusName";
            col.Caption = "Estado";
            col.Width = Unit.Percentage(100);
            col.AdaptivePriority = 4;
            col.EditFormSettings.Visible = DefaultBoolean.False;

        });

        settings.SetEditFormTemplateContent(c =>
        {

            Html.DevExpress().FormLayout(flSettings =>
            {


                flSettings.Name = "FormLayoutUser";
                flSettings.Width = Unit.Percentage(100);


                flSettings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
                flSettings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 700;


                flSettings.ColCount = 2;


                flSettings.Items.Add(i =>
                {
                    i.FieldName = "EventId";
                    i.Caption = "Id";
                    i.ClientVisible = false;
                    i.NestedExtension().TextBox(s =>
                    {


                        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                        s.Properties.ValidationSettings.Display = Display.Dynamic;
                        s.ShowModelErrors = true;
                        s.Width = Unit.Percentage(100);
                        s.ControlStyle.CssClass = "upperCase";

                    });
                });


                flSettings.Items.Add(i =>
                {
                    i.FieldName = "EventName";
                    i.Caption = "Evento";
                    i.NestedExtension().TextBox(s =>
                    {

                        s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        s.Properties.ValidationSettings.RequiredField.ErrorText = "*";
                        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                        s.Properties.ValidationSettings.Display = Display.Dynamic;
                        s.ShowModelErrors = true;
                        s.Width = Unit.Percentage(100);
                        s.ControlStyle.CssClass = "upperCase";

                    });
                });

                flSettings.Items.Add(i =>
                {
                    i.FieldName = "CoordinatorEmail";
                    i.Caption = "Correo de Coordinador";
                    i.NestedExtension().TextBox(s =>
                    {

                        s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        s.Properties.ValidationSettings.RequiredField.ErrorText = "*";
                        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;

                        s.Properties.ValidationSettings.Display = Display.Dynamic;
                        s.ShowModelErrors = true;
                        s.Width = Unit.Percentage(100);


                    });
                });
                flSettings.Items.Add(i =>
                {
                    i.FieldName = "EventDate";
                    i.Caption = "Fecha de Fin";
                    i.NestedExtension().DateEdit(s =>
                    {
                        s.Properties.NullText = "DD/MM/YYYY";
                        s.Properties.EditFormat = EditFormat.Date;
                        s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        s.Properties.ValidationSettings.RequiredField.ErrorText = "*";
                        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;

                        s.Properties.ValidationSettings.Display = Display.Dynamic;
                        s.ShowModelErrors = true;
                        s.Width = Unit.Percentage(100);

                    });
                });
                flSettings.Items.Add(i =>
                {
                    i.FieldName = "RegistrationClosing";
                    i.Caption = "Fecha de Cierre";
                    i.NestedExtension().DateEdit(s =>
                    {
                        s.Properties.NullText = "DD/MM/YYYY";
                        s.Properties.EditFormat = EditFormat.Date;
                        s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        s.Properties.ValidationSettings.RequiredField.ErrorText = "*";
                        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                        s.Properties.ValidationSettings.Display = Display.Dynamic;
                        s.ShowModelErrors = true;
                        s.Width = Unit.Percentage(100);

                    });
                });

                flSettings.Items.Add(i =>
                {
                    i.FieldName = "Description";
                    i.Caption = "Descripción";
                    i.NestedExtension().Memo(s =>
                    {

                        s.Properties.ValidationSettings.RequiredField.IsRequired = true;
                        s.Properties.ValidationSettings.RequiredField.ErrorText = "*";
                        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.None;
                        s.Properties.ValidationSettings.Display = Display.Dynamic;
                        s.ShowModelErrors = true;
                        s.Width = Unit.Percentage(240);
                        s.Properties.Rows = 7;
                        s.ControlStyle.CssClass = "upperCase";

                    });
                });

                flSettings.Items.AddEmptyItem();
                flSettings.Items.AddEmptyItem();
                flSettings.Items.Add(i =>
                {
                    i.ShowCaption = DefaultBoolean.False;
                }).SetNestedContent(() =>
                {
                    ViewContext.Writer.Write("<div style='float:right'>");
                    Html.DevExpress().Button(btnSettings =>
                    {
                        btnSettings.Name = "btnUpdate";
                        btnSettings.Text = "Actualizar";
                        btnSettings.ClientSideEvents.Click ="function(s, e){ gvEvent.UpdateEdit(); }";
                    }).Render();
                    Html.DevExpress().Button(btnSettings =>
                    {
                        btnSettings.Name = "btnCancel";
                        btnSettings.Text = "Cancelar";
                        btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                        btnSettings.ClientSideEvents.Click = "function(s, e){ gvEvent.CancelEdit(); }";
                    }).Render();
                    ViewContext.Writer.Write("</div>");
                });
            })
            .Bind(ViewData["Event"] ?? GetEditingEvent(c.Grid))
            .Render();
        });

    });
    if (ViewData["EditError"] != null)
    {
        @*<script type="text/javascript">
            window.onload = function () {
                alert("Error");
            };
        </script>*@
        //grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}
@grid.Bind(Model).GetHtml()


