PORT=3000
DB_SERVER=localhost
DB_PORT=1433
DB_USER=
DB_PASSWORD=
DB_DATABASE=Asistencia
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
JWT_SECRET=change_this_secret
JWT_EXPIRATION=8h
SSO_SECRET="change_this_sso_secret"
HCM_API_URL=
HCM_USERNAME=
HCM_PASSWORD=
UPLOAD_PATH=./uploads
PUBLIC_UPLOAD_URL=/uploads
