
<button onclick="showPopup()">Abrir Popup</button>
<div id="popup" style="display: none">
    <!-- Campos del formulario -->
    <select id="ClasificationId"></select>
    <select id="CategoryId"></select>
    <select id="SubCategoryId"></select>
    <input type="number" id="Amount" />
    <select id="DepartmentId"></select>
    <input type="time" id="HourStart" />
    <textarea id="ExpenseDetailNotes"></textarea>

    <!-- Botón de enviar -->
    <button onclick="submitForm()">Enviar</button>
</div> 
<script src="~/onlinejs/jquery-3.6.0.min.js"></script>
 