
@{
    var estilodev = false;
}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="color: #800 !important;">Lista de empleado para registra Horas Extras</h6>
                </div>
                <div class="card-body p-3">
                    <table id="employeeTable2" style="width:100%" class="table table-bordered table-hover display responsive nowrap">
                        <thead>
                            <tr>
                                <th>Acciones</th>
                                <th>No Empleado</th>
                                <th>Nombre del Empleado</th>
                                <th>Ubicación</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {

    @*<script src="~/Content/DataTables/js/jquery.js"></script>
        <script src="~/Content/DataTables/js/jquery.waypoints.min.js"></script>*@
    <script src="~/onlinejs/jquery-3.6.0.min.js"></script>
    <script src="~/onlinejs/jquery.dataTables.min.js"></script>
    <script src="~/onlinejs/dataTables.bootstrap4.min.js"></script>
    <script src="~/onlinejs/dataTables.buttons.min.js"></script>
    <script src="~/onlinejs/buttons.html5.min.js"></script>
    <script src="~/onlinejs/buttons.bootstrap4.min.js"></script>
    <script src="~/onlinejs/dataTables.select.min.js"></script>
    <script src="~/onlinejs/bootstrap.bundle.min.js"></script>
    <script src="~/onlinejs/loadingoverlay.min.js"></script>
    <script src="~/onlinejs/dataTables.responsive.min.js"></script>
    <script src="~/onlinejs/moment.min.js"></script>
    <script src="~/onlinejs/jszip.min.js"></script>
    <script src="~/onlinejs/jquery-ui.js"></script>
    <script src="~/onlinejs/spin.min.js"></script>
 
 

    <script>
        $(document).ready(function () {
            // DataTable for myTable
            $.LoadingOverlay("show");
            var tabla_persona = $('#employeeTable2').DataTable({
                "ajax": {
                    "url": "@Url.Action("EmployeesListjsone", "Extratime")",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "Idhrms",
                        "render": function (data) {
   var url = '@Url.Action("EmployeeDetail", "ExtraTime", new { id = "Idhrms" })';
                            url = url.replace("Idhrms", data);
                            return "<a href='" + url + "' class='btn btn-primary btn-sm'><i class='fas fa-pen'></i>Seleccione</a>";
                                      },
                        "orderable": true,
                        "searchable": true,
                        "width": "150px"
                    },
                    { "data": "EmployeeNumber" },
                    { "data": "FullName" },
                    { "data": "Location" },


                ],
                "dom": 'Blfrtip', // Incluye el componente de selección de registros por página


                "lengthMenu": [10, 20, 50, 100], // Opciones de selección de registros por página
                "pageLength": 10, // Número de registros por página por defecto


                "language": {
                    "url": "@Url.Content("~/Scripts/datatable.es-ES.json")"
                },
                responsive: true,



            });
            $.LoadingOverlay("hide");

        });
    </script>
}
