@model  List<Entities.ViewModels.VistaConsumoEstados>

@{ Layout = "~/Views/Shared/_popupLayout.cshtml"; }


<script>




</script>

<style type="text/css">


    .memo * {
        text-transform: uppercase;
    }
</style>


<div id="authorizePartial">

    @Html.Partial("ConsumoStateConsultPartial", Model)
</div>




