@model Entities.ConsumptionClaro

@{ Layout = "~/Views/Shared/_popupLayout.cshtml"; }



<style type="text/css">


    .memo * {
        text-transform: uppercase;
    }
</style>
<script>

    function GuardarConsumo(s, e) {
        // prevent the default event behaviour

        $.ajax({
            url: '@Url.Action("GuardarConsumoPorUnidad")',
            type: "POST",
            data: $('#frmConsumption').serialize(),
            dataType: "json",
            traditional: true,
            cache: false,
            //contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.status != "Error") {
                    swal({
                            title: "Exito!",
                            text: data.message,
                            icon: "success",
                            button: "Aceptar",
                        })
                        .then((willSaved) => {
                            if (willSaved) {
                                top.popEditarConsumo.Hide();
                            }

                        });
                } else {
                    swal({
                        title: "Error!",
                        text: data.message,
                        icon: "error",
                        button: "Aceptar",
                    })
                    //swal("ERROR!", "Ocurrió un error en la transaccion, por favor corrija.", "error");
                }


            },
            error: function () {
                alert("Ocurrió un error en la transaccion.!!!");
            }
        });
    }


</script>

@using (Html.BeginForm("GuardarConsumoPorUndiad", "Consumo", FormMethod.Post, new { id = "frmConsumption" }))
{
    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "frmEditConsumption";
    settings.Width = Unit.Percentage(100);


    settings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
    settings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 550;

    settings.ColumnCount = 2;

    settings.Items.Add(m => m.IdCombustibleConsumoClaro, i =>
    {
        i.Caption = "Id";
        i.ClientVisible = false;
        i.NestedExtension().TextBox(s =>
        {

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            s.Width = Unit.Percentage(100);


        });
    });


    settings.Items.Add(m => m.FechaRegistro, i =>
    {
        i.Caption = "Fecha";

        i.NestedExtension().DateEdit(s =>
        {

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            s.Width = Unit.Percentage(100);


        });
    });
   


    //settings.Items.Add(i =>
    @*{
        i.FieldName = "IdCombustibleProveedor";
        i.Caption = "Proveedor";
        i.NestedExtension().ComboBox(s =>
        {
            s.Properties.TextField = "NombreProveedor";
            s.Properties.ValueField = "IdCombustibleProveedor";
            s.Properties.ValueType = typeof(int);
            s.Properties.DataSource = slnRhonline.Data.CombustibleProveedor.ObtenerProveedoresCombustible();
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            s.Width = Unit.Percentage(100);
            s.Properties.DropDownStyle = DropDownStyle.DropDownList;


        });
    });*@

    settings.Items.Add(m => m.IdVoucher, i =>
    {
        i.Caption = "Id(Referencia)";
        //i.ClientVisible = false;
        i.NestedExtension().TextBox(s =>
        {

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            s.Width = Unit.Percentage(100);


        });
    });


    settings.Items.Add(m => m.CantidadLitros, i =>
    {
        i.Caption = "Cantidad Litros";

        i.NestedExtension().SpinEdit(s =>
        {

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            //s.Properties.DisplayFormatString = "c";
            s.Width = Unit.Percentage(100);
        });
    });
    settings.Items.Add(m => m.ValorCordobas, i =>
    {
        i.Caption = "Monto Factura";

        i.NestedExtension().SpinEdit(s =>
        {
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            //s.Properties.DisplayFormatString = "c";
            s.Width = Unit.Percentage(100);
        });
    });

    settings.Items.Add(m => m.OdometroInicial, i => {
        i.Caption = "Odómetro";

        i.NestedExtension().SpinEdit(s => {

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            s.Width= Unit.Percentage(100);


        });
    });

    settings.Items.Add(i =>
    {
        i.FieldName = "IdTipoCombustible";
        i.Caption = "Combustible";
        i.NestedExtension().ComboBox(s =>
        {
            s.Properties.TextField = "Descripcion";
            s.Properties.ValueField = "IdCatalogo";
            s.Properties.ValueType = typeof(string);
            s.Properties.DataSource = slnRhonline.Data.CatalogoSiaf.GetGasById("07");
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            s.Width = Unit.Percentage(100);
            s.Properties.DropDownStyle = DropDownStyle.DropDownList;


        });
    });



    settings.Items.Add(m => m.Estacion, i =>
    {
        i.Caption = "Estación";
        //i.ClientVisible = false;
        i.NestedExtension().TextBox(s =>
        {

            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            s.Width = Unit.Percentage(100);
            s.ControlStyle.CssClass = "memo";

        });
    });



    settings.Items.Add(m => m.Municipio, i =>
    {
        i.Caption = "Municipio";

        i.NestedExtension().TextBox(s =>
        {
            s.AutoCompleteType = AutoCompleteType.HomeCity;
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;

            s.Width = Unit.Percentage(100);
            s.ControlStyle.CssClass = "memo";

        });
    });

    settings.Items.Add(i =>
    {
        i.FieldName = "IdDepartamento";
        i.Caption = "Departamento";
        i.NestedExtension().ComboBox(s =>
        {
            s.Properties.TextField = "Descripcion";
            s.Properties.ValueField = "IdCatalogo";
            s.Properties.ValueType = typeof(string);
            s.Properties.DataSource = slnRhonline.Data.CatalogoSiaf.GetDepartmentById("02");
            s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithTooltip;
            s.Properties.ValidationSettings.Display = Display.Dynamic;
            s.ShowModelErrors = true;
            s.Width = Unit.Percentage(100);
            s.Properties.DropDownStyle = DropDownStyle.DropDownList;


        });
    });
    
}).GetHtml()
}
<div class="innerEditor" style="float:right;">
    @Html.DevExpress().Button(settings => {
  settings.Name = "btnDanger";
  settings.Width = 164;
  settings.Text = "Actualizar";
  settings.RenderMode = ButtonRenderMode.Danger;
  settings.ClientSideEvents.Click = "GuardarConsumo";
    }).GetHtml()
</div>

@*<div id="eG">

    </div>*@



