@model  List<Entities.ViewModels.VistaExtraPlanEstados>

@{ Layout = "~/Views/Shared/_popupLayout.cshtml"; }


<script>

    


</script>

<style type="text/css">


    .memo * {
        text-transform: uppercase;
    }
</style>


<div id="authorizePartial">

    @Html.Partial("ExtraPlanStateConsultPartial", Model)
</div>



