
@model Entities.Licenses


<!DOCTYPE html>

<html>

@{
    var imgSrc = "";
    if (Model.LicenseFile != null)
    {
        var base64 = Convert.ToBase64String(Model.LicenseFile);
        imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
    }

}
<body>
    <div>

        <div style="text-align: center; margin-top: 15px;">
            <img src="@imgSrc" alt="No hay imagen que mostrar" style="border: 1px solid #C5C5C5; padding: 8px; box-shadow: 0 1px 3px 0.5px #C5C5C5; width: 600px; height:420px;" />
        </div>


    </div>
</body>
</html>



