@{
    Layout = null; /*"~/Views/Shared/_mainLayout.cshtml";*/
}
<!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

            <title>Error - RH Online</title>

            <!-- Google font -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

            <!-- Custom stlylesheet -->
            <link type="text/css" rel="stylesheet" href="~/Styles/styleError404.css" />


            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

        </head>

        <body>
            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>Oops!</h1>
                    </div>
                    <h2>404- Página no encontrada</h2>
                    <p> La url que está intentando ingresar no existe o el recurso ha sido borrado, favor contactar al administrador del sistema.</p>
                    <a href="~/Login/login">Ir a página principal</a>
                </div>
            </div>

        </body><!-- This templates was made by Colorlib (https://colorlib.com) -->

    </html>


@*<div style="background-color: #F5F5DC; color: White; height: 170px;">
        <div style=" padding:20px;">
            <<h2 class="page-header">404-Pagina no encontrada</h2>
            <h4>
                Pagina no encontrada
            </h4>
            <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home")</h6>
            <br />
            <br />
        </div>
    </div>
    <div style="background-color: #A52A2A; color: White; height: 20px;">
    </div>*@
